{% extends 'main.html' %}

{% block head %}{{author.username}}{% endblock %}

{% block content %}
    <h1>Profile page</h1>
    <div>
        <p>Username: {{ author.username }}</p>
        <p>First name: {{ author.first_name }}</p>
        <p>Last name: {{ author.last_name }}</p>
        <p>Email: {{ author.email }}</p>
    </div><hr><br><br>

    <h3>Your posts:</h3>
    {% if posts %}
        {% for post in posts %}
            <hr>
            {{ post.title }}
            <a href="{% url 'post_detail' post.pk %}">See entire</a>
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete post</a>
        {% endfor %}
    {% else %}
        <h4>You don't have any posts right now</h4>
    {% endif %}

    <hr><br><br>
    <h3>Your comments:</h3>
    <form action="" method="get">
        {{filterset.form.as_p}}
        <input type="submit" value="Find">
    </form>

    {% if comments %}
        {% for comment in comments %}
            <hr>
            <p>{{ comment.user }}</p>
            <p>{{ comment.text }}</p>
            <p>Accepted: {{ comment.is_accepted }}</p>

            <form action="{% url 'accept_comment' comment.pk %}" method="post">
                {% csrf_token %}
                {% if comment.is_accepted %}
                    <input type="submit" value="Not accept comment">
                {% else %}
                    <input type="submit" value="Accept comment">
                {% endif %}
            </form>
        {% endfor %}
    {% else %}
        <h4>You don't have any comments right now</h4>
    {% endif %}
{% endblock %}